@import "src/components/mixins";

.container {
  @include grid;
  @include centerItem;
  padding-top: 25px;
}

.holder {
  @include grid($col: 8px auto 8px, $cGap: 15px);
  align-items: center;
  & > :nth-child(2) {
    @include typography($color: #ffffff, $fw: normal);
  }
  & > :nth-child(1),
  & > :nth-child(3) {
    &:hover {
      cursor: pointer;
    }
  }

  &--hide-left{
    & > :nth-child(1){
      visibility: hidden;
    }
  }

  &--hide-right{
    & > :nth-child(3){
      visibility: hidden;
    }
  }
}