.height{height: 34px}
.cls-1{fill:#6187aa;}
.cls-2{fill:#c19d85;}
.cls-3{fill:#d3ac92;}
.cls-4{fill:#cca38d;}
.cls-5{fill:#e2b79f;}
.cls-6{fill:#eac4ac;}
.cls-7{fill:#e2bba6;}
.cls-8{fill:#d8b298;}
.cls-9{fill:#7597bc;}
.cls-10{fill:#497291;}
.cls-11{fill:#3a637c;}