body{
    background-color: #124970;
}
.root {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

ul, li, button, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}