.height{height: 34px}
.cls-1{fill:#6187aa;}
.cls-2{fill:#f4f4f4;}
.cls-3{fill:#edeceb;}
.cls-4{fill:#ddd;}
.cls-5{fill:#e0dfde;}
.cls-6{fill:#f7f7f7;}
.cls-7{fill:#fff;}
.cls-8{fill:#efefef;}
.cls-9{fill:#7597bc;}
.cls-10{fill:#497291;}
.cls-11{fill:#3a637c;}