@import "src/components/mixins";

.item{
  @include grid($col: 13px 32px 1fr 19px 1fr, $cGap: 20px);
  align-items: center;
  padding: 15px;
  box-shadow: inset 0 -1px 0 0 #E6E6E6;
  & > :first-child {
    font-size: 10px;
  }

  & > :last-child{
    justify-self: end;
  }

  &--mark{
    background-color: #ecf1f6;
  }
}

.title{
  @include grid($rGap: 3px);
  & > :first-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}