.height{height: 34px}
.cls-1{fill:#6187aa;}
.cls-2{fill:#f9c67d;}
.cls-3{fill:#f4ba64;}
.cls-4{fill:#efb454;}
.cls-5{fill:#f4b251;}
.cls-6{fill:#e8aa58;}
.cls-7{fill:#edda56;}
.cls-8{fill:#eac757;}
.cls-9{fill:#7597bc;}
.cls-10{fill:#497291;}
.cls-11{fill:#3a637c;}