@mixin grid($col: null, $row: null, $cGap: null, $rGap: null){
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-column-gap: $cGap;
  grid-row-gap: $rGap;
}

@mixin typography($trForm: null, $fs: null, $fw: null, $color: null){
  text-transform: $trForm;
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

@mixin centerItem{
  align-items: center;
  justify-items: center;
}