@import "src/components/mixins";

.search {
  @include grid($col: auto 1fr, $cGap: 10px);
  background-color: #ecf1f6;
  padding: 25px 15px;

  &-input {
    background-color: #ecf1f6;
    border: none;
    &::placeholder{
      color: #b8b8b8;
    }
    &:focus{
      border-bottom: solid 1px #7f9ba7;
      outline: none;
    }
  }
}