@import "src/components/mixins";

.avatar {
  @include centerItem;
  display: grid;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  box-shadow: 0 0 8px #68727c;
}

.name{
  @include typography($trForm: uppercase, $fs: 13px, $fw: 700, $color: #ffffff);
}