@import "src/components/mixins";

@mixin text {
  @include typography($trForm: uppercase, $fs: 10px, $color: #b9b9b9e8);
  letter-spacing: .07em;
}

.sort {
  @include grid($col: calc(13px + 32px + 20px), $cGap: 20px);
  padding: 10px 15px;
  box-shadow: inset 0 -1px 0 0 #E6E6E6;
}

.name {
  @include grid($col: max-content auto, $cGap: 10px);
  grid-column-start: 2;
  align-items: center;
  width: fit-content;

  & > :first-child {
    @include text;
  }

  &--ASC {
    & > :last-child {
      transform: scale(-1, 1) rotate(180deg);
    }
  }

  &--DESC {
    & > :last-child {
      transform: rotate(0deg);
    }
  }

  &--hide {
    & > :last-child {
      visibility: hidden;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.views {
  @include grid($col: auto max-content, $cGap: 10px);
  grid-column-start: 4;
  justify-self: end;
  align-items: center;
  width: fit-content;

  & > :first-child {
    transform: scale(-1, 1);
  }

  & > :last-child {
    @include text;
  }

  &:hover {
    cursor: pointer;
  }

  &--ASC {
    & > :first-child {
      transform: scale(1, 1) rotate(180deg);
    }
  }

  &--DESC {
    & > :first-child {
      transform: scale(-1, 1);
    }
  }

  &--hide {
    & > :first-child {
      visibility: hidden;
    }
  }
}